.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  text-align: left;
}

Button.buttonStyle {
  /* margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px; */
  margin: 10px 5px 0px 5px;
}

Button.authFlip {
  margin-bottom: 10px;
}

Button.authSubmit {
  margin-top: 10px;
}

Button.loginButton {
  margin-right: 20px;
}

Button.logoutButton {
  margin-left: 20px;
}

.rightAlignBox {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}